<!DOCTYPE html>
<html lang="en"

      xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset=" UTF-8">
<title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>

    table
    {
        background-color: #f2f2f2;
        background-size: cover;
        width: 500px;
        height: 100px;
        border-radius: 10px;
    }
    a
    {
        text-decoration: none;
    }

</style>
</head>
<body>
<table align="center">

    <tr><td colspan="6"><a href="/add"><button style="background-color: blue; border-radius: 4px";><h3>Add message</h3></button></a></td></tr>
    <div sec:authorize="hasAuthority('USER')">
    <tr>
        <th>Title</th>
        <th>content</th>
        <th>postedby</th>

    </tr>

    <tr th:each="message :${messages}">
        <td th:text="${message.title}"></td>
        <td th:text="${message.content}"></td>
        <td th:text="${message.postedby}"></td>

        <td> <a th:href="@{/update/{id}(id=${message.id})}">Update</a></td>
        <td> <a th:href="@{/detail/{id}(id=${message.id})}">Details</a></td>
        <td><a th:href="@{/delete/{id}(id=${message.id})}">Delete</a></td>

    </tr>
    </div></table>
</body>
</html>